[submodule ".config/vim/pack/plugins/start/nerdtree"]
  path = .config/vim/pack/plugins/start/nerdtree
  url = https://github.com/preservim/nerdtree.git
  ignore = all
[submodule ".config/vim/pack/plugins/start/nerdtree-git-plugin"]
  path = .config/vim/pack/plugins/start/nerdtree-git-plugin
  url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
  ignore = all
[submodule ".config/vim/pack/plugins/start/vim-airline"]
  path = .config/vim/pack/plugins/start/vim-airline
  url = https://github.com/vim-airline/vim-airline
  ignore = all
[submodule ".config/vim/pack/plugins/start/vim-ctrlspace"]
  path = .config/vim/pack/plugins/start/vim-ctrlspace
  url = https://github.com/vim-ctrlspace/vim-ctrlspace
  ignore = all
[submodule ".config/vim/pack/syntax/start/nim.vim"]
  path = .config/vim/pack/syntax/start/nim.vim
  url = https://github.com/zah/nim.vim
  ignore = all
[submodule ".config/vim/pack/syntax/start/json"]
  path = .config/vim/pack/syntax/start/json
  url = https://github.com/elzr/vim-json
  ignore = all
[submodule ".config/vim/pack/syntax/start/js"]
  path = .config/vim/pack/syntax/start/js
  url = https://github.com/yuezk/vim-js
  ignore = all
[submodule ".config/vim/pack/syntax/start/jsx"]
  path = .config/vim/pack/syntax/start/jsx
  url = https://github.com/MaxMEllon/vim-jsx-pretty
  ignore = all
[submodule ".config/vim/pack/syntax/start/nim"]
  path = .config/vim/pack/syntax/start/nim
  url = https://github.com/zah/nim.vim
  ignore = all
[submodule ".config/vim/pack/themes/start/dracula"]
  path = .config/vim/pack/themes/start/dracula
  url = https://github.com/dracula/vim
  ignore = all
[submodule ".config/vim/pack/plugins/start/vim-pencil"]
  path = .config/vim/pack/plugins/start/vim-pencil
  url = https://github.com/reedes/vim-pencil
  ignore = all
[submodule ".config/vim/pack/plugins/start/targets"]
  path = .config/vim/pack/plugins/start/targets
  url = https://github.com/wellle/targets.vim
  ignore = all
[submodule ".config/vim/pack/plugins/start/vim-goyo"]
  path = .config/vim/pack/plugins/start/vim-goyo
  url = https://github.com/junegunn/goyo.vim
	ignore = all
[submodule ".config/vim/pack/syntax/start/vimtex"]
  path = .config/vim/pack/syntax/start/vimtex
  url = https://github.com/lervag/vimtex
	ignore = all
[submodule ".config/vim/pack/syntax/start/markdown"]
  path = .config/vim/pack/syntax/start/markdown
  url = https://github.com/plasticboy/vim-markdown
	ignore = all
[submodule ".config/vim/pack/plugins/start/css-color"]
  path = .config/vim/pack/plugins/start/css-color
  url = https://github.com/ap/vim-css-color
	ignore = all
[submodule ".config/vim/pack/plugins/start/automkdir"]
  path = .config/vim/pack/plugins/start/automkdir
  url = https://github.com/benizi/vim-automkdir
	ignore = all
[submodule ".config/vim/pack/plugins/start/better-whitespace"]
  path = .config/vim/pack/plugins/start/better-whitespace
  url = https://github.com/ntpeters/vim-better-whitespace
	ignore = all
[submodule ".config/vim/pack/plugins/start/vim-matchup"]
  path = .config/vim/pack/plugins/start/vim-matchup
  url = https://github.com/andymass/vim-matchup
	ignore = all
[submodule ".config/vim/pack/plugins/start/vim-visual-multi"]
  path = .config/vim/pack/plugins/start/vim-visual-multi
  url = https://github.com/mg979/vim-visual-multi
	ignore = all
[submodule ".config/vim/pack/plugins/start/fzf.vim"]
  path = .config/vim/pack/plugins/start/fzf.vim
  url = https://github.com/junegunn/fzf.vim
	ignore = all
[submodule ".config/vim/pack/plugins/start/coc.nvim"]
  path = .config/vim/pack/plugins/start/coc.nvim
  url = https://github.com/neoclide/coc.nvim
	ignore = all
[submodule ".config/vim/pack/plugins/start/vim-gitgutter"]
  path = .config/vim/pack/plugins/start/vim-gitgutter
  url = https://github.com/airblade/vim-gitgutter
	ignore = all
[submodule ".config/vim/pack/plugins/start/vim-which-key"]
  path = .config/vim/pack/plugins/start/vim-which-key
  url = https://github.com/liuchengxu/vim-which-key
	ignore = all
[submodule ".config/vim/pack/plugins/start/nerdcommenter"]
  path = .config/vim/pack/plugins/start/nerdcommenter
  url = https://github.com/preservim/nerdcommenter
	ignore = all
[submodule ".config/vim/pack/syntax/start/kotlin"]
  path = .config/vim/pack/syntax/start/kotlin
  url = https://github.com/udalov/kotlin-vim.git
	ignore = all
[submodule ".config/vim/pack/themes/start/paramount"]
  path = .config/vim/pack/themes/start/paramount
  url = https://github.com/owickstrom/vim-colors-paramount
	ignore = all
[submodule ".config/vim/pack/themes/start/paige"] # repo was deleted :c
  path = .config/vim/pack/themes/start/paige
  url = https://git.sr.ht/~leon_plickat/paige
	ignore = all
[submodule ".config/vim/pack/themes/start/airline-themes"]
  path = .config/vim/pack/themes/start/airline-themes
  url = https://github.com/vim-airline/vim-airline-themes
	ignore = all
[submodule ".config/vim/pack/plugins/start/vim-airline-themes"]
  path = .config/vim/pack/plugins/start/vim-airline-themes
  url = https://github.com/vim-airline/vim-airline-themes
	ignore = all

[submodule "programs/boomer"]
  path = programs/boomer
  url = https://github.com/tsoding/boomer
	ignore = all
[submodule "programs/ux_play"]
  path = programs/ux_play
  url = https://github.com/antimof/UxPlay
	ignore = all
[submodule "programs/nsxiv"]
  path = programs/nsxiv
  url = https://github.com/nsxiv/nsxiv
	ignore = all
[submodule "programs/neofetch"]
  path = programs/neofetch
  url = https://github.com/JaninaWibker/neofetch
	ignore = all

[submodule ".config/awesome"]
  path = .config/awesome
  url = https://github.com/JaninaWibker/awesome-config
	ignore = all

[submodule ".oh-my-zsh/custom/plugins/zsh-completions"]
  path = .oh-my-zsh/custom/plugins/zsh-completions
  url = https://github.com/zsh-users/zsh-completions
	ignore = all
[submodule ".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
  path = .oh-my-zsh/custom/plugins/zsh-syntax-highlighting
  url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	ignore = all
[submodule ".oh-my-zsh/custom/plugins/fzf-zsh-plugin"]
  path = .oh-my-zsh/custom/plugins/fzf-zsh-plugin
  url = https://github.com/unixorn/fzf-zsh-plugin
	ignore = all
