[submodule ".config/vim/pack/themes/dracula"]
	path = .config/vim/pack/themes/dracula
	url = https://github.com/dracula/vim
[submodule ".config/vim/pack/plugins/start/nerdtree"]
	path = .config/vim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".config/vim/pack/plugins/start/nerdtree-git-plugin"]
	path = .config/vim/pack/plugins/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule ".config/vim/pack/plugins/start/vim-airline"]
	path = .config/vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".config/vim/pack/plugins/start/vim-ctrlspace"]
	path = .config/vim/pack/plugins/start/vim-ctrlspace
	url = https://github.com/vim-ctrlspace/vim-ctrlspace
[submodule ".config/vim/pack/syntax/start/nim.vim"]
	path = .config/vim/pack/syntax/start/nim.vim
	url = https://github.com/zah/nim.vim
[submodule ".config/vim/pack/syntax/start/json"]
	path = .config/vim/pack/syntax/start/json
	url = https://github.com/elzr/vim-json
[submodule ".config/vim/pack/syntax/start/js"]
	path = .config/vim/pack/syntax/start/js
	url = https://github.com/yuezk/vim-js
[submodule ".config/vim/pack/syntax/start/jsx"]
	path = .config/vim/pack/syntax/start/jsx
	url = https://github.com/MaxMEllon/vim-jsx-pretty
[submodule ".config/vim/pack/syntax/start/nim"]
	path = .config/vim/pack/syntax/start/nim
	url = https://github.com/zah/nim.vim
[submodule ".config/vim/pack/themes/start/dracula"]
	path = .config/vim/pack/themes/start/dracula
	url = https://github.com/dracula/vim
[submodule ".config/vim/pack/plugins/start/vim-pencil"]
	path = .config/vim/pack/plugins/start/vim-pencil
	url = https://github.com/reedes/vim-pencil
[submodule ".config/vim/pack/plugins/start/targets"]
	path = .config/vim/pack/plugins/start/targets
	url = https://github.com/wellle/targets.vim
[submodule "programs/neofetch"]
	path = programs/neofetch
	url = https://github.com/JannikWibker/neofetch
[submodule ".config/vim/pack/plugins/start/vim-goyo"]
	path = .config/vim/pack/plugins/start/vim-goyo
	url = https://github.com/junegunn/goyo.vim
[submodule ".config/vim/pack/syntax/start/vimtex"]
	path = .config/vim/pack/syntax/start/vimtex
	url = https://github.com/lervag/vimtex
[submodule ".config/vim/pack/syntax/start/markdown"]
	path = .config/vim/pack/syntax/start/markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule ".config/vim/pack/plugins/start/css-color"]
	path = .config/vim/pack/plugins/start/css-color
	url = https://github.com/ap/vim-css-color
[submodule ".config/vim/pack/plugins/start/automkdir"]
	path = .config/vim/pack/plugins/start/automkdir
	url = https://github.com/benizi/vim-automkdir
[submodule ".config/vim/pack/plugins/start/better-whitespace"]
	path = .config/vim/pack/plugins/start/better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule ".config/vim/pack/plugins/start/vim-matchup"]
	path = .config/vim/pack/plugins/start/vim-matchup
	url = https://github.com/andymass/vim-matchup
[submodule ".config/vim/pack/plugins/start/vim-visual-multi"]
	path = .config/vim/pack/plugins/start/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi
[submodule ".config/vim/pack/plugins/start/fzf.vim"]
	path = .config/vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".config/vim/pack/plugins/start/coc.nvim"]
	path = .config/vim/pack/plugins/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule ".config/vim/pack/plugins/start/vim-gitgutter"]
	path = .config/vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".config/vim/pack/plugins/start/vim-which-key"]
	path = .config/vim/pack/plugins/start/vim-which-key
	url = https://github.com/liuchengxu/vim-which-key
[submodule ".config/vim/pack/plugins/start/nerdcommenter"]
	path = .config/vim/pack/plugins/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter
[submodule ".config/vim/pack/syntax/start/kotlin"]
	path = .config/vim/pack/syntax/start/kotlin
	url = https://github.com/udalov/kotlin-vim.git
[submodule ".config/vim/pack/themes/start/paramount"]
	path = .config/vim/pack/themes/start/paramount
	url = https://github.com/owickstrom/vim-colors-paramount
[submodule ".config/vim/pack/themes/start/paige"]
	path = .config/vim/pack/themes/start/paige
	url = https://git.sr.ht/~leon_plickat/paige
[submodule ".config/vim/pack/themes/start/airline-themes"]
	path = .config/vim/pack/themes/start/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "programs/sxiv"]
	path = programs/sxiv
	url = https://github.com/muennich/sxiv
[submodule "programs/boomer"]
	path = programs/boomer
	url = https://github.com/tsoding/boomer
